.page-header {
  background: #222;
  padding: 8px;
  .container {
    display: flex;
    align-items: center;
  }
  .header-account {
    margin-left: auto;
    display: flex;
    align-self: center;
    li {
      margin-left: 20px;
    }
    a {
      color: #fff;
      font-size: 18px;
    }
    svg {
      display: block;
      font-size: 20px;
    }
  }
  .logo {
    img {
      width: 60px;
    }
  }
}

.page-nav {
  a {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 18px;
  }
  ul {
    display: flex;
  }
  li {
    margin-left: 20px;
  }
}

.wrap-fav-couter {
  position: relative;
  color: #fff;
  span {
    top: -10px;
    left: -10px;
    height: 16px;
    width: 16px;
    padding: 0px 6px;
    font-size: 15px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-color: red;
    justify-content: center;
    color: #fff;
  }
}